@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --soft-red-color: hsl(10, 79%, 65%);
    --cyan-color: hsl(186, 34%, 60%);
    --dark-brown-color: hsl(25, 47%, 15%);
    --medium-brown-color: hsl(28, 10%, 53%);
    --cream-color: hsl(27, 66%, 92%);
    --very-pale-color: hsl(33, 100%, 98%);
    --common-ff: 'DM Sans', sans-serif;
}